{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our team</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
  integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
  <section>
    <div class="container flow-content">
      <h2 class="section-title">Our team</h2>
      <ul role="list" class="grid">
        <li>
          <article class="card" data-visible="false">
            <div class="card__front flow-content">
              <img class="card__img mx-auto" src="{% static 'img\Mohamed_Ayman.jpg' %}" />
              <div class="flow-content" data-spacing="sm">
                <p class="card__name">Mohamed Ayman</p>
                <p class="card__position">Software Engineer</p>
              </div>
            </div>
            <div class="card__back flow-content">
              <p class="card__name">Mohamed Ayman</p>
              <q>Team leader, full-stack developer on Django framework.</q>
              <ul role="list" class="card__social flex-group">
                <li>
                  <a href="https://github.com/MohamedAyman128" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/mohamed-ayman-33b348263/" target="_blank">
                    <i class="fa-brands fa-linkedin "></i>
                  </a>
                </li>
              </ul>
            </div>
            <footer class="card__footer">
              <button data-card-controller class="card__toggle">
                <i class="fa-solid fa-plus card__toggle-icon"></i>
              </button>
            </footer>
          </article>
        </li>

        <li>
          <article class="card" data-visible="false">
            <div class="card__front flow-content">
              <img class="card__img mx-auto" src="{% static 'img\Mohamed_Hossam.jpg' %}" />
              <div class="flow-content" data-spacing="sm">
                <p class="card__name">Mohamed Hossam</p>
                <p class="card__position">Network engineer</p>
              </div>
            </div>
            <div class="card__back flow-content">
              <p class="card__name">Mohamed Hossam</p>
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et dictum sem.</q>
              <ul role="list" class="card__social flex-group">
                <li>
                  <a href="https://github.com/MoHossam1" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/mohamed-hossam-cs/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <footer class="card__footer">
              <button data-card-controller class="card__toggle">
                <i class="fa-solid fa-plus card__toggle-icon"></i>
              </button>
            </footer>
          </article>
        </li>

        <li>
          <article class="card" data-visible="false">
            <div class="card__front flow-content">
              <img class="card__img mx-auto" src="{% static 'img\Ansam.jpg' %}" />
              <div class="flow-content" data-spacing="sm">
                <p class="card__name">Ansam Yaseen</p>
                <p class="card__position">Front-end developer</p>
              </div>
            </div>
            <div class="card__back flow-content">
              <p class="card__name">Ansam Yaseen</p>
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et dictum sem.</q>
              <ul role="list" class="card__social flex-group">
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/ansam-yaseen-3b7a781b7/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <footer class="card__footer">
              <button data-card-controller class="card__toggle">
                <i class="fa-solid fa-plus card__toggle-icon"></i>
              </button>
            </footer>
          </article>
        </li>

        <li>
          <article class="card" data-visible="false">
            <div class="card__front flow-content">
              <img class="card__img mx-auto" src="{% static 'img\Mariam_Mohamed.jpg' %}" />
              <div class="flow-content" data-spacing="sm">
                <p class="card__name">Mariam Mohamed</p>
                <p class="card__position">Data analyst</p>
              </div>
            </div>
            <div class="card__back flow-content">
              <p class="card__name">Mariam Mohamed</p>
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et dictum sem.</q>
              <ul role="list" class="card__social flex-group">
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/mariam-mohamed12/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <footer class="card__footer">
              <button data-card-controller class="card__toggle">
                <i class="fa-solid fa-plus card__toggle-icon"></i>
              </button>
            </footer>
          </article>
        </li>

        <li>
          <article class="card" data-visible="false">
            <div class="card__front flow-content">
              <img class="card__img mx-auto" src="{% static 'img\Maryam_Eissa.jpg' %}" />
              <div class="flow-content" data-spacing="sm">
                <p class="card__name">Maryam Eissa</p>
                <p class="card__position">Data analyst</p>
              </div>
            </div>
            <div class="card__back flow-content">
              <p class="card__name">Maryam Eissa</p>
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et dictum sem.</q>
              <ul role="list" class="card__social flex-group">
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/maryam-eissa-7a33931a6/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <footer class="card__footer">
              <button data-card-controller class="card__toggle">
                <i class="fa-solid fa-plus card__toggle-icon"></i>
              </button>
            </footer>
          </article>
        </li>

        <li>
          <article class="card" data-visible="false">
            <div class="card__front flow-content">
              <img class="card__img mx-auto" src="{% static 'img\Amani.jpg' %}"/>
              <div class="flow-content" data-spacing="sm">
                <p class="card__name">Amani Alfalougy</p>
                <p class="card__position">Front-end developer</p>
              </div>
            </div>
            <div class="card__back flow-content">
              <p class="card__name">Amani Alfalougy</p>
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et dictum sem.</q>
              <ul role="list" class="card__social flex-group">
                <li>
                  <a href="#" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/mani-alfalougy-67b955316/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <footer class="card__footer">
              <button data-card-controller class="card__toggle">
                <i class="fa-solid fa-plus card__toggle-icon"></i>
              </button>
            </footer>
          </article>
        </li>   
      </ul>
    </div>
  </section>
  <script >
    const cardControllers = document.querySelectorAll("[data-card-controller]");

cardControllers.forEach(controller => {
  controller.addEventListener("click", (e) => {
    const card = e.currentTarget.parentElement.parentElement;
    const isVisible = card.dataset.visible;

    if (isVisible === "false") {
      card.setAttribute("data-visible", true);
    } else {
      card.setAttribute("data-visible", false);
    }
  })
})
  </script>
</body>
</html>