{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENTIS</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div><h2 class="text-center">MENTIS</h2></div>
        </header>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="row no-gutters" id="formContainer">
                        <div class="col-md-6 login-section" id="loginSection">
                            <form id="authForm" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="forImg"><img src="{% static 'img/profile.png' %}" alt="profile"></div>
                                    <label for="UserName">UserName</label>
                                    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Username" required="" id="id_username">                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Password" required="" id="id_password">                                </div>
                                <section class="btns">
                                    <button type="button" class="btn btn-primary btn-sm" id="loginBtn">Login</button> 
                                    <section><u>OR</u></section>
                                    <button type="button" class="btn btn-secondary btn-sm" id="signUpBtn">Sign Up</button>
                                </section>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 illustration-section" id="illustrationSection">
                            <div class="text-center">
                                <p>Your journey to well-being starts here.</p>
                                <img src="{% static 'img/img2.png' %}" alt="Illustration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('signUpBtn').addEventListener('click', function() {
            var form = document.getElementById('authForm');
            var formContainer = document.getElementById('formContainer');
            form.action ="{% url 'accounts:signup' %}"
            form.innerHTML = `
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="username" maxlength="150" autofocus class="form-control" placeholder="Username" required aria-describedby="id_username_helptext" id="id_username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" maxlength="320" class="form-control" placeholder="Email" aria-describedby="id_email_helptext" id="id_email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password1" autocomplete="new-password" class="form-control" placeholder="Password" aria-describedby="id_password1_helptext" id="id_password1">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="password2" autocomplete="new-password" class="form-control" placeholder="Password confirmation" aria-describedby="id_password2_helptext" id="id_password2">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" name='age' placeholder='enter your age' id="age">
                </div>
                <div class="form-group">
                    <label for="id_gender">Gender:</label>
                    <select name="gender" maxlength="6" id="id_gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                </select>
                </div>
                <section class="btns">
                    <button type="submit" class="btn btn-primary btn-sm">Sign Up</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="loginBtn">Login</button>
                </section>
                <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            `;
            formContainer.classList.add('move-form');
            document.getElementById('loginBtn').addEventListener('click', function() {
                //add action to  the form 
                form.action ="{% url 'login' %}"
                form.innerHTML = `
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="forImg"><img src="{% static 'img/profile.png' %}" alt="profile"></div>
                        <label for="UserName">UserName</label>
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Username" required="" id="id_username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Password" required="" id="id_password">
                    </div>
                    <section class="btns">
                        <button type="button" class="btn btn-primary btn-sm" id="loginBtn">Login</button> 
                        <section><u>OR</u></section>
                        <button type="button" class="btn btn-secondary btn-sm" id="signUpBtn">Sign Up</button>
                    </section>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                `;
                formContainer.classList.remove('move-form');
                document.getElementById('signUpBtn').addEventListener('click', function() {
                    // Add the same event listener for sign up button
                });
            });
        });
    </script>
</body>
</html>