body {
    background-color: #f5f5f5;
    flex-direction: column;
}
.profile-container {
    margin-top: 20px;
    
}
.nav-link{
    color: rgba(255, 227, 185, 1);
}
.nav-link:hover{
    text-decoration: underline;
    color: #f5f5f5;
}
.navbar{
    background-color: rgba(55, 113, 91, 1);
}
.navbar-brand{
    font-family: Istok Web;
    color: rgba(247, 222, 181, 1);
    font-size: 35px;
    padding-left: 40px;
}
.navbar-brand:hover{
    color:#f5f5f5;    
}
.nav-item{
    color: rgba(255, 227, 185, 1);
}

.content { 
    color: rgba(55, 113, 91, 1);
    min-height: 70vh;
    background-color: #f5deb3; 
    padding: 50px; 
    margin: 50px auto; 
    width: 80%; 
    text-align: center; 
    border-radius: 10px; 
}
section p {
    color: rgba(55, 113, 91, 1);
    font-family: Istok Web;
    font-size: 30px;
    text-align: center;
}
.container {
    border: 1px solid rgba(55, 113, 91, 1);
    border-radius: 15px; 
    
}

/* .............. */
/* input{
    width: 100%;
    border-radius: 15px;
    transition: border-color 0.3s ease;
    background-color: transparent; 
    border: none;
    outline: none; 
}
input:focus {
    border-bottom-color: rgb(32, 67, 54);
    background-color: transparent; 
    border: none;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
    border: none;
}
.row{
    color: rgba(255, 227, 185, 1);
    text-align: center; 
} 
.col-md-4{
    background-color: rgba(55, 113, 91, 1);
    border-radius: 15px; 
}
*/